In [29]:
import pandas as pd

In [30]:
getData = pd.read_csv("data.csv")

In [31]:
getData.head(10)

          Date         Sector
0  09/Dec/2021         mining
1  09/Dec/2021  entrepreneurs
2  09/Dec/2021        finance
3  09/Dec/2021         health
4  09/Dec/2021           tech
5  09/Dec/2021     automotive
6  09/Dec/2021         health
7  09/Dec/2021      logistics
8  09/Dec/2021         energy
9  09/Dec/2021     automotive

In [33]:
getData[{"Sector"}]

                  Sector
0                 mining
1          entrepreneurs
2                finance
3                 health
4                   tech
...                  ...
132063      agribusiness
132064            health
132065            energy
132066  policyandeconomy
132067        automotive

[132068 rows x 1 columns]

In [35]:
getData.describe()

               Date  Sector
count        132068  132068
unique            7      19
top     07/Dec/2021  mining
freq          28734   17653