Enlazando nuestro drive con colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Creando un Serie sin etiquetas

In [ ]:
import numpy as np
import pandas as pd
rg = np.random.default_rng()  
serie = pd.Series(rg.integers(10, size=(7,)))
print("Serie:\n", serie)

Serie:
 0    6
1    8
2    8
3    0
4    7
5    4
6    6
dtype: int64

Creando una Serie con etiquetas

In [ ]:
import numpy as np
import pandas as pd
rg = np.random.default_rng() 
serie = pd.Series(rg.integers(10, size=(7,)), index=["1ro", "2do", "3ro", "4to", "5to", "6to", "7mo"])
print("Serie:\n", serie)

Serie:
 1ro    1
2do    3
3ro    9
4to    8
5to    7
6to    3
7mo    5
dtype: int64

Creando una Serie a partir de un diccionario

In [ ]:
import pandas as pd
diccionario = {"uno":"I", "dos":"II", "tres":"III", "cuatro":"IV"}
serie = pd.Series(diccionario)
print("Serie:\n", serie)

Serie:
 uno         I
dos        II
tres      III
cuatro     IV
dtype: object

Creando una Serie a partir de un escalar

In [ ]:
import pandas as pd
serie = pd.Series(37, index=["primero", "segundo", "tercero", "cuarto"])
print("Serie:\n", serie)

Serie:
 primero    37
segundo    37
tercero    37
cuarto     37
dtype: int64

Accesando a los elementos de una serie sin etiquetar

In [ ]:
import numpy as np
import pandas as pd
rg = np.random.default_rng() 
serie = pd.Series(rg.integers(50, size=(7,)))
print("Serie:\n", serie) 
print("Accesando al segundo elemento a través del subindice:", serie[1])
print("Obteniendo los elementos del 3er al 6to a través de un rango:\n", serie[2:5])
print("Obteniendo los elementos que sean mayores a 15:\n", serie[serie>15])
print("Obteniendo los elementos de los indices 2,4,5 y 6:\n", serie[[2,4,5,6]])

Serie:
 0    11
1    14
2    34
3    24
4    30
5    40
6    41
dtype: int64
Accesando al segundo elemento a través del subindice: 14
Obteniendo los elementos del 3er al 6to a través de un rango:
 2    34
3    24
4    30
dtype: int64
Obteniendo los elementos que sean mayores a 15:
 2    34
3    24
4    30
5    40
6    41
dtype: int64
Obteniendo los elementos de los indices 2,4,5 y 6:
 2    34
4    30
5    40
6    41
dtype: int64

Accesando a los elementos de una serie etiquetada

In [ ]:
import pandas as pd
serie = pd.Series({"uno":"I", "dos":"II", "tres":"III", "cuatro":"IV"})
print("Serie:\n", serie) 
print("Accesando a un elemento de la serie con su etiqueta:", serie["tres"])
print("Accesando a varios elemento de la serie con una lista etiqueta:\n", serie[["dos", "cuatro"]])

Serie:
 uno         I
dos        II
tres      III
cuatro     IV
dtype: object
Accesando a un elemento de la serie con su etiqueta: III
Accesando a varios elemento de la serie con una lista etiqueta:
 dos       II
cuatro    IV
dtype: object

Operaciones entre series: Suma

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([10, 20, 30, 40, 50])
print("Suma de series:\n", serie + serie2)

Suma de series:
 0    11
1    22
2    33
3    44
4    55
dtype: int64

Aplicando funciones de NumPy a las Series

In [ ]:
import numpy as np
import pandas as pd
serie = pd.Series([1, 2, 3, 4])
print("El cuadrado de los elementos de la serie:\n", np.square(serie))

El cuadrado de los elementos de la serie:
 0     1
1     4
2     9
3    16
dtype: int64

Buscar llaves con el operador in

In [ ]:
import pandas as pd
serie = pd.Series({"uno":"I", "dos":"II", "tres":"III", "cuatro":"IV"})
print("La llave tres se encuentra en la serie: ", "tres" in serie)
print("La llave ocho se encuentra en la serie: ", "ocho" in serie)

La llave tres se encuentra en la serie:  True
La llave ocho se encuentra en la serie:  False

Usando el atributo name para identificar una serie

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, 3, 4], name="Numeros")
print(serie)

0    1
1    2
2    3
3    4
Name: Numeros, dtype: int64

Creando un dataframe a partir de Series

In [ ]:
import pandas as pd
diccionario = {
   "peso": pd.Series([70, 80, 63], index=["reg1", "reg2", "reg3"]),
   "estatura": pd.Series([1.77, 1.83, 1.55, 1.63], index=["reg1", "reg2", "reg3", "reg4"])
}
dataframe = pd.DataFrame(diccionario)
dataframe

      peso  estatura
reg1  70.0      1.77
reg2  80.0      1.83
reg3  63.0      1.55
reg4   NaN      1.63

Creando un dataframe a partir de un diccionario de listas

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
dataframe

           Pelicula   Año           Genero
0         Star Wars  1977  Ciencia Ficción
1            Matrix  1999  Ciencia Ficción
2  Volver al Futuro  1985  Ciencia Ficción
3          Fearless  2006           Peleas

Usando set_index

In [ ]:
dataframe2 = dataframe
dataframe2.set_index('can_Peliculas')

                       Pelicula   Año           Genero
can_Peliculas
9                     Star Wars  1977  Ciencia Ficción
3                        Matrix  1999  Ciencia Ficción
3              Volver al Futuro  1985  Ciencia Ficción
1                      Fearless  2006           Peleas

Seleccionando los datos de una columna

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
dataframe["Pelicula"]

0           Star Wars
1              Matrix
2    Volver al Futuro
3            Fearless
Name: Pelicula, dtype: object

Agregando una columna a  un dataframe desde una Serie

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
can_Peliculas = pd.Series([9, 3, 3, 1])
dataframe["can_Peliculas"] = can_Peliculas
dataframe

           Pelicula   Año           Genero  can_Peliculas
0         Star Wars  1977  Ciencia Ficción              9
1            Matrix  1999  Ciencia Ficción              3
2  Volver al Futuro  1985  Ciencia Ficción              3
3          Fearless  2006           Peleas              1

Eliminando columnas en un Dataframe con del

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
del dataframe["Año"]
dataframe

           Pelicula           Genero
0         Star Wars  Ciencia Ficción
1            Matrix  Ciencia Ficción
2  Volver al Futuro  Ciencia Ficción
3          Fearless           Peleas

Eliminando columnas en un dataframe con drop

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
dataframe = dataframe.drop(["Año"], axis=1)
dataframe

           Pelicula           Genero
0         Star Wars  Ciencia Ficción
1            Matrix  Ciencia Ficción
2  Volver al Futuro  Ciencia Ficción
3          Fearless           Peleas

Extrayendo columnas de un dataframe hacia una serie

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
serieAño = dataframe.pop("Año")
dataframe

           Pelicula           Genero
0         Star Wars  Ciencia Ficción
1            Matrix  Ciencia Ficción
2  Volver al Futuro  Ciencia Ficción
3          Fearless           Peleas

Eliminando un registro del dataframe

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
dataframe = dataframe.drop([2], axis=0)
dataframe

    Pelicula   Año           Genero
0  Star Wars  1977  Ciencia Ficción
1     Matrix  1999  Ciencia Ficción
3   Fearless  2006           Peleas

Insertando un registro en el dataframe

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless"],
 "Año": [1977, 1999, 1985, 2006],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas"]
})
dataframe = dataframe.append({"Pelicula":"Enemigo al Acecho", "Año":2001, "Genero":"Bélica"}, ignore_index=True)
dataframe

            Pelicula   Año           Genero
0          Star Wars  1977  Ciencia Ficción
1             Matrix  1999  Ciencia Ficción
2   Volver al Futuro  1985  Ciencia Ficción
3           Fearless  2006           Peleas
4  Enemigo al Acecho  2001           Bélica

Lectura de datos tabulares desde un archivo separado por comas (csv)

In [ ]:
import pandas as pd
personajesSW = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M2DCData/characters.csv")
print(personajesSW)

    id            name  height   mass  ... birth_year  gender homeworld species
0    1  Luke Skywalker     172   77.0  ...      19BBY    male  Tatooine   Human
1    2           C-3PO     167   75.0  ...     112BBY     NaN  Tatooine   Droid
2    3           R2-D2      96   32.0  ...      33BBY     NaN     Naboo   Droid
3    4     Darth Vader     202  136.0  ...    41.9BBY    male  Tatooine   Human
4    5     Leia Organa     150   49.0  ...      19BBY  female  Alderaan   Human
..  ..             ...     ...    ...  ...        ...     ...       ...     ...
82  83             Rey     168   77.0  ...        NaN  female       NaN   Human
83  84     Poe Dameron     175   81.0  ...        NaN    male       NaN   Human
84  85             BB8      45   60.0  ...        NaN    none       NaN   Droid
85  86  Captain Phasma     170   79.0  ...        NaN  female       NaN     NaN
86  87   Padmé Amidala     165   45.0  ...      46BBY  female     Naboo   Human

[87 rows x 11 columns]

Leyendo datos tabulares de un archivo csv y usando la función head para mostrar los primeros 8 registros

In [ ]:
import pandas as pd
personajesSW = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M2DCData/characters.csv")
personajesSW.head()

   id            name  height   mass  ... birth_year  gender homeworld species
0   1  Luke Skywalker     172   77.0  ...      19BBY    male  Tatooine   Human
1   2           C-3PO     167   75.0  ...     112BBY     NaN  Tatooine   Droid
2   3           R2-D2      96   32.0  ...      33BBY     NaN     Naboo   Droid
3   4     Darth Vader     202  136.0  ...    41.9BBY    male  Tatooine   Human
4   5     Leia Organa     150   49.0  ...      19BBY  female  Alderaan   Human

[5 rows x 11 columns]

Leyendo datos tabulares de un archivo csv y usando la función head para mostrar los ultimos 7 registros

In [ ]:
import pandas as pd
personajesSW = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M2DCData/characters.csv")
personajesSW.tail(7)

    id            name  height  mass  ... birth_year  gender homeworld species
80  81      Tion Medon     206  80.0  ...        NaN    male    Utapau  Pau'an
81  82            Finn     177  87.0  ...        NaN    male       NaN   Human
82  83             Rey     168  77.0  ...        NaN  female       NaN   Human
83  84     Poe Dameron     175  81.0  ...        NaN    male       NaN   Human
84  85             BB8      45  60.0  ...        NaN    none       NaN   Droid
85  86  Captain Phasma     170  79.0  ...        NaN  female       NaN     NaN
86  87   Padmé Amidala     165  45.0  ...      46BBY  female     Naboo   Human

[7 rows x 11 columns]

Usando el atributo dtypes para ver el tipo de dato de las columnas

In [ ]:
import pandas as pd
personajesSW = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M2DCData/characters.csv")
personajesSW.dtypes

id              int64
name           object
height          int64
mass          float64
hair_color     object
skin_color     object
eye_color      object
birth_year     object
gender         object
homeworld      object
species        object
dtype: object

Utilizando la función info para recuperar información técnica del dataframe

In [ ]:
import pandas as pd
personajesSW = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/M2DCData/characters.csv")
personajesSW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          87 non-null     int64
 1   name        87 non-null     object
 2   height      87 non-null     int64
 3   mass        87 non-null     float64
 4   hair_color  81 non-null     object
 5   skin_color  85 non-null     object
 6   eye_color   84 non-null     object
 7   birth_year  43 non-null     object
 8   gender      84 non-null     object
 9   homeworld   77 non-null     object
 10  species     82 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 7.6+ KB

Escribiendo datos tabulares de un dataframe a un archivo cvs

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless", "Enemigo al Acecho"],
 "Año": [1977, 1999, 1985, 2006, 2001],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas", "Bélica"]
})
dataframe.to_excel("/content/drive/MyDrive/Colab Notebooks/M2DCData/peliculas.xlsx", sheet_name="mejores")

Escribiendo datos del dataframe a HTML

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(
{"Pelicula": ["Star Wars", "Matrix", "Volver al Futuro", "Fearless", "Enemigo al Acecho"],
 "Año": [1977, 1999, 1985, 2006, 2001],
 "Genero": ["Ciencia Ficción", "Ciencia Ficción", "Ciencia Ficción", "Peleas", "Bélica"]
})
dataframe.to_html("/content/drive/MyDrive/Colab Notebooks/M2DCData/peliculas.html")