# Intro python data science
## Práctica 08: importar datos csv a python

Vamos a ver cómo importar csv cuando:
* Punto 1: datos separados por coma
* Punto 2: datos separados por puntos y comas
* Punto 3: no hay nombres de columnas

# Punto 0:

In [3]:
# importar pandas
import pandas as pd

# Punto 1:

In [ ]:
# caso 1: datos separados por coma

In [6]:
path = 'datos_rrss_t1.csv'
pd.read_csv(path, )

      Nombre  Cantidad     ES_FBK  Anio
0   Facebook      2449  VERDADERO  2006
1    Twitter       339      FALSO  2006
2  Instagram      1000  VERDADERO  2010
3    YouTube      2000      FALSO  2005
4   LinkedIn       663      FALSO  2003
5   WhatsApp      1600  VERDADERO  2009

# Punto 2:

In [ ]:
# caso 2: datos separados por puntos y comas

In [8]:
path = 'datos_rrss_t2.csv'
pd.read_csv(path, sep=";")

      Nombre  Cantidad     ES_FBK  Anio
0   Facebook      2449  VERDADERO  2006
1    Twitter       339      FALSO  2006
2  Instagram      1000  VERDADERO  2010

# Punto 3:

In [ ]:
# caso 3: no hay nombres de columnas

In [11]:
path = 'datos_rrss_t3.csv'
pd.read_csv(path, header=None, names=['Nombre', 'Cantidad', 'Val', 'Año'])

      Nombre  Cantidad        Val   Año
0   Facebook      2449  VERDADERO  2006
1    Twitter       339      FALSO  2006
2  Instagram      1000  VERDADERO  2010
3    YouTube      2000      FALSO  2005
4   LinkedIn       663      FALSO  2003
5   WhatsApp      1600  VERDADERO  2009

In [13]:
nginxLog = 'access.log.0'

In [14]:
df = pd.read_csv(nginxLog,
              sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
              engine='python',
              usecols=[0, 3, 4, 5, 6, 7, 8],
              names=['ip', 'time', 'request', 'status', 'size', 'referer', 'user_agent'],
              na_values='-',
              header=None
                )

# Gracias!
## Espero que te lleves algo útil de este notebook 😀

Para más videos de programación para ciencia de datos

https://www.youtube.com/c/RafaGonzalezGouveia/

Si quieres realizar alguno de los cursos online de pago, ve a:

https://cursos.gonzalezgouveia.com

In [15]:
df

,ip,time,request,status,size,referer,user_agent
0,136.158.118.198,[09/Dec/2021:06:25:05 +0000],"""GET /sites/default/files/styles/crop_16_9/pub...",200,105219,"""https://www.google.com/""","""Mozilla/5.0 (Windows NT 10.0; Win64; x64) App..."
1,35.204.27.55,[09/Dec/2021:06:25:05 +0000],"""GET / HTTP/1.1""",301,178,"""-""","""newspaper/0.2.8"""
2,35.204.27.55,[09/Dec/2021:06:25:06 +0000],"""GET / HTTP/1.1""",200,23398,"""-""","""newspaper/0.2.8"""
3,35.204.27.55,[09/Dec/2021:06:25:06 +0000],"""GET /mining HTTP/1.1""",301,178,"""-""","""newspaper/0.2.8"""
4,35.204.27.55,[09/Dec/2021:06:25:06 +0000],"""GET / HTTP/1.1""",301,178,"""-""","""newspaper/0.2.8"""
...,...,...,...,...,...,...,...
19995,93.158.90.31,[09/Dec/2021:10:10:10 +0000],"""GET /taxonomy/term/4946/feed HTTP/1.1""",200,3234,"""-""","""Mozilla/5.0 (Windows NT 10.0; Win64; x64) App..."
19996,172.31.8.44,[09/Dec/2021:10:10:12 +0000],"""GET / HTTP/1.1""",400,264,"""-""","""ELB-HealthChecker/2.0"""
19997,172.31.39.88,[09/Dec/2021:10:10:12 +0000],"""GET / HTTP/1.1""",301,178,"""-""","""ELB-HealthChecker/2.0"""
19998,93.158.90.31,[09/Dec/2021:10:10:14 +0000],"""GET /taxonomy/term/2982/feed HTTP/1.1""",200,1609,"""-""","""Mozilla/5.0 (Windows NT 10.0; Win64; x64) App..."
19999,157.90.177.215,[09/Dec/2021:10:10:16 +0000],"""GET /form/hashtag?url=https://mexicobusiness....",200,7182,"""-""","""Mozilla/5.0 (compatible; BLEXBot/1.0; +http:/..."